body {
  position: relative;
}

#fps-container {
  position: absolute;
  right: 0;
  top: 0;
  color: #155c27;
  opacity: 0.2;
  font-family: Arial, Helvetica, sans-serif;
}

#fps-container:hover {
  opacity: 1;
  color: #329b4c;
}

.blobb {
  fill: url(#lavaGradient);
}

.glow {
  filter: url(#glowing);
}

.metasvg {
  position: fixed;
  height: 110vh;
  width: 110vw;
  top: -20px;
  left: -20px;
  overflow: hidden;
}

.metaballs {
  position: fixed;
  z-index: -1;

  overflow: hidden;
}

:root {
  background: #000;
  background-image: linear-gradient(to right, #222222, #201f1f);
}

#fullscreenButton {
  outline: none;
  background-color: transparent;
  border: none;
  opacity: 0.2;
}

#fullscreenButton:hover {
  opacity: 1;
  cursor: pointer;
}

#fullscreenButton img {
  width: 25px;
  height: 25px;
}
